<%= error_messages_for 'movie' %>

<!--[form:movie]-->
<p><label for="movie_title">Title</label><br/>
<%= text_field 'movie', 'title'  %></p>

<p><label for="movie_director">Director</label><br/>
<%= text_field 'movie', 'director'  %></p>

<p><label for="movie_year">Year</label><br/>
<%= text_field 'movie', 'year'  %></p>

<p><label for="movie_description">Description</label><br/>
<%= text_area 'movie', 'description'  %></p>
<!--[eoform:movie]-->

